* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1E7F6D;
  --text-color: #fff;

  --title-font-size: 3.6rem;
  --title-font-weight: 600;
  --regular-font-size: 0.9rem;
  --regular-font-weight: 600;
  --button-font-size: 1.25rem;
  --button-font-weight: 800;

  --font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  font-family: var(--font-family);
}
